root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{c,h}]
indent_style = space
tab_width = 4

[*.rc]
indent_style = space
tab_width = 2

[CMakeLists.txt]
indent_style = space
tab_width = 2
