/**
 * @see https://docs.microsoft.com/en-us/windows/win32/api/VerRsrc/ns-verrsrc-vs_fixedfileinfo
 * @see https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
 * @see https://docs.microsoft.com/en-us/windows/win32/menurc/vs-versioninfo
 * @see https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/70feba9f-294e-491e-b6eb-56532684c37f
 * @see https://docs.microsoft.com/en-us/windows/win32/intl/code-page-identifiers
 */
#pragma code_page(65001) /* use UTF8 */

1 VERSIONINFO
FILEVERSION     0, 0, 2, 0
PRODUCTVERSION  0, 0, 2, 0
FILEOS          0 /* none since EFI */
FILETYPE        1 /* executable */
FILEFLAGSMASK   0x3f
FILEFLAGS       0L

{
  BLOCK "StringFileInfo" {
    BLOCK "000904b0" {
      VALUE "FileVersion",      "0.2"
      VALUE "ProductVersion",   "0.2"
      VALUE "ProductName",      "zloader"
      VALUE "FileDescription",  "EFI Stub for Kernels using Compression"
      VALUE "OriginalFilename", "zloader.efi"
    }
  }

  BLOCK "VarFileInfo" {
    /* 0009 locale neutral english, 04b0 utf16 */
    VALUE "Translation", 0x0009, 0x04b0
  }
}
